/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Element Selectors */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('images/flowers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: 'Send Flowers', cursive;
  font-weight: 400;
  font-style: normal;
}

header {
  padding: 1rem;
  background-color: rgb(255, 237, 242);
}

main {
  margin: 1rem;
  flex: 1;
}

h1 {
  font-size: 2.5rem;
  color: rgb(214, 27, 27);
  font-weight: bolder;
}

button {
  font-family: inherit;
  padding: 0.75rem 2.5rem;
  margin: 0.5rem;
  border: 2px solid rgb(246, 89, 115);
  border-radius: 10px;
  color: rgb(214, 27, 27);
  font-weight: bold;
  background-color: rgb(255, 237, 242);
}

footer {
  background-color: rgb(255, 237, 242);
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 0.25rem;
}

a {
  color: rgb(214, 27, 27);
}

/* Class Selectors */

.subtitle {
  font-size: 1.5rem;
  color: rgb(246, 89, 115);
}

.the-question {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(246, 89, 115);
}

.gif {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

/* Media Queries */

@media (max-width: 700px) {
  html {
    font-size: 12px;
  }
}

@media (hover: hover) {
  button:hover {
    box-shadow: 0 8px 16px 0 rgba(96, 96, 96, 0.6);
    transition-duration: 0.3s;
    cursor: pointer;
  }
}
