* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('images/flowers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.gif {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.hidden {
  display: none;
}
