/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('images/flowers.jpg');
  background-repeat: repeat;
  background-size: cover;
  text-align: center;
  font-family: 'Send Flowers', cursive;
  font-weight: 400;
  font-style: normal;
}

header {
  margin: 1rem;
}

h1 {
  font-size: 2.5rem;
}

button {
  font-family: inherit;
  padding: 0.75rem 2.5rem;
  margin: 0.5rem;
}

.subtitle {
  font-size: 1.5rem;
}

.the-question {
  font-size: 2rem;
}

.gif {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

.hidden {
  display: none;
}
